div.track-add {
  .modal-body {
    background-color: #ededed;
    .form-group {
      padding: 1em 1.0em 0 0;
      label {
        width: 77px;
      }

      input[type=text] {
        width: 120px;
      }

    }
  }
}
