<div class="track-add">
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Rata</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="trackForm" class="form-inline">
    <div class="form-group" ng-class="{'has-error': trackForm.track.$invalid, 'has-success': trackForm.track.$valid}">
      <label for="name">Nimi</label>
      <input
        name="name"
        ng-model="$ctrl.track.name"
        type="text"
        ng-required="true"
        class="form-control"
        id="name"
        placeholder="Radan nimi"
      >
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-disabled="trackForm.$invalid" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Tallenna</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
</div>
