.show-hand {
  cursor: pointer;
  position: relative;
}

div.hoverimage {
  display: none;
  p {
    margin: 0.5em;
  }
}
.show-image {
  display: block !important;
  position: absolute;
  top: 10px;
  left: 0;

  border: 1px solid black;
  background-color: #fff;
}