<div class="record-add">
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.track.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="recordForm" class="form-inline">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error': recordForm.record.$invalid, 'has-success': recordForm.record.$valid}">
          <label for="aika">Aika</label>
          <input
            name="record"
            ng-pattern="$ctrl.timePattern"
            ng-model="$ctrl.record.record"
            type="text"
            ng-required="true"
            class="form-control"
            id="aika"
            placeholder="99:99:999"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error': recordForm.driver.$invalid, 'has-success': recordForm.driver.$valid}">
          <label for="driver">Kuski</label>
          <input
            ng-model="$ctrl.record.driver"
            name="driver"
            type="text"
            ng-required="true"
            ng-minlength="3"
            class="form-control"
            id="driver"
            placeholder="Schumacher"
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group"  ng-class="{'has-error': recordForm.car.$invalid, 'has-success': recordForm.car.$valid}">
          <label for="car">Auto</label>
          <input
            name="car"
            ng-model="$ctrl.record.car"
            type="text"
            class="form-control"
            ng-required="true"
            ng-minlength="3"
            id="car"
            placeholder="Lada"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"  ng-class="{'has-error': recordForm.level.$invalid, 'has-success': recordForm.level.$valid}">
          <label for="level">Luokka</label>
          <input
            name="level"
            ng-model="$ctrl.record.level"
            type="text"
            class="form-control"
            ng-required="true"
            ng-minlength="1"
            id="level"
            placeholder="A600"
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group comment" ng-class="{'has-error': recordForm.comment.$invalid, 'has-success': recordForm.comment.$valid}">
          <label for="comment">Kommentti</label>
          <input
            name="comment"
            ng-model="$ctrl.record.comment"
            type="text"
            class="form-control comment"
            ng-required="false"
            ng-maxlength="150"
            id="comment"
            placeholder="Pruuuum..."
          >
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-disabled="recordForm.$invalid" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Tallenna</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
</div>
