
<div uib-alert dismiss-on-timeout="3500" close="ctrl.closeAlert()" ng-repeat="alert in ctrl.alerts" ng-class="'alert-' + alert.type">{{alert.msg}}</div>

<form>
  <div class="row">
    <div class="col-md-12 controls">
      <button ng-click="ctrl.save()" class="btn btn-primary">Tallenna</button>
      <button disabled class="btn btn-default">Peruuta</button>
      <button ng-click="ctrl.delete()" class="btn btn-default btn-danger pull-right">Poista ajoneuvo</button>
    </div>
  </div>

  <article class="images">
    <h2 ng-click="hideImages=!hideImages"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !hideImages,'glyphicon-chevron-right': hideImages}"></i>Kuvat</h2>
    <div ng-if="!hideImages">
      <input filepicker type="filepicker" data-fp-services="computer" on-success="ctrl.onSuccess(event)" />
      <div class="images">
        <img ng-repeat="image in ctrl.vehicle.image" ng-if="image.url" ng-src="{{image.url}}" alt="{{image.url}}" width="150">
      </div>
    </div>
  </article>
  <article class="basics">
    <h2 ng-click="hideBasics=!hideBasics"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !hideBasics,'glyphicon-chevron-right': hideBasics}"></i>Perustiedot</h2>
    <div class="content-block" ng-hide="hideBasics">
      <div class="form-group">
        <label for="vehicle.slug">Slug</label>
        <input type="text" class="form-control" id="vehicle.slug" placeholder="Slug (url)" ng-model="ctrl.vehicle.slug">
      </div>
       <div class="form-group">
        <label for="vehicle.make">Merkki</label>
        <input type="text" class="form-control" id="vehicle.make" placeholder="Vehicle make" ng-model="ctrl.vehicle.make">
      </div>
      <div class="form-group">
        <label for="vehicle.model">Malli</label>
        <input type="text" class="form-control" id="vehicle.model" placeholder="Model" ng-model="ctrl.vehicle.model">
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="input-group" ng-controller="DatepickerCtrl as dpCtrl">
            <input
              ng-change="ctrl.dateChanged(ctrl.vehicle.registrationDateObj)" type="text" class="form-control"
              uib-datepicker-popup="{{dpCtrl.format}}"
              datepicker-options="dpCtrl.dateOptions"
              ng-model="ctrl.vehicle.registrationDateObj"
              is-open="dpCtrl.popup"
              ng-required="false"
              close-text="Sulje"
              alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="dpCtrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label style="display: block;">Seloste
          <textarea ng-model="ctrl.vehicle.description" class="form-control" rows="3"></textarea>
        </label>
      </div>
    </div>
  </article>

  <article class="history">
    <h2 ng-click="hideHistory=!hideHistory"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !hideHistory,'glyphicon-chevron-right': hideHistory}"></i>Historia</h2>
    <div class="content-block" ng-hide="hideHistory">
      <h3 class="controls history"><a ng-click="ctrl.addHistory()"><i class="glyphicon glyphicon-plus"></i> Lisää rivi</a></h3>
      <div ng-repeat="history in ctrl.vehicle.history |orderBy:event.date track by $index">
        <vehicle-history history="history"></vehicle-history>
      </div>
  </article>
</form>
