form {
  margin: 2em;

  h2 {
    cursor: pointer;
  }

  .controls {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
  }

  .history a {
    cursor: pointer;
    text-decoration: none;
  }
}




