<ng-form name="ajo" class="form-inline">
    <div class="row history">
      <div class="col-sm-1">
        <button class="btn btn-danger" ng-click="ctrl.delete(history.id)">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </div>
      <div class="col-sm-2">
        <label>Pvm:</label>
        <div class="input-group" ng-controller="DatepickerCtrl as dpCtrl">
            <input type="text" class="form-control"
              uib-datepicker-popup="{{dpCtrl.format}}"
              datepicker-options="dpCtrl.dateOptions"
              ng-model="history.dateObj"
              is-open="dpCtrl.popup"
              ng-required="false"
              close-text="Sulje"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="dpCtrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
      </div>
      <div class="col-sm-2 km">
        <label>km:
          <input type="text" class="form-control" placeholder="Ajettu" ng-model="history.km">
        </label>
      </div>
      <div class="col-sm-7">
        <label style="display: block" >Selostus
          <textarea style="width:100%;" rows="1" class="form-control" placeholder="Seloste" ng-model="history.description"></textarea>
        </label>
      </div>
    </div>
  <div ng-if="vehicle.history.length === 0">Ei historiaa</div>
</ng-form>

