<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    Oletko varma, että haluat poistaa ajoneuvon "{{$ctrl.vehicle.make}}"?
  </h3>
</div>
<div class="modal-body" id="modal-body">
  Olet poistamassa ajoneuvoa ja siihen liittyviä tietoja.
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
