<h1>Demosivu</h1>

<div class="row">
  <div class="col-md-4" ng-controller="DatepickerCtrl as dctrl">
    <p class="input-group">
      <input
        class="form-control"
        uib-datepicker-popup="dd.MM.yyyy"
        ng-model="dctrl.defaultDate"
        is-open="dctrl.popup"
        type="text"
      />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="dctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
</div>
