<h2 id="service">Huoltohistoria</h2>
<p ng-if="!$ctrl.vehicle.history ||$ctrl.vehicle.history.length === 0"><i>Ei huoltohistoriaa</i></p>
<div ng-if="$ctrl.vehicle.history.length > 0" class="sorting btn-group" role="group" aria-label="sorting">
  <button type="button" class="btn btn-default" ng-click="$ctrl.sort='km'">Ajomäärä</button>
  <button type="button" class="btn btn-default" ng-click="$ctrl.sort='date'">Pvm</button>
  <button type="button" class="btn btn-default" ng-click="$ctrl.order=!$ctrl.order">
    <i
      class="glyphicon"
      ng-class="{'glyphicon-arrow-up':$ctrl.order, 'glyphicon-arrow-down':!$ctrl.order}"
    ></i>
  </button>
</div>

<div ng-if="$ctrl.vehicle.history.length > 0" class="panel panel-default history" ng-repeat="row in $ctrl.vehicle.history | orderBy:$ctrl.sort:$ctrl.order">
  <div class="panel-heading bg-info">
    <span class="date" ng-bind="row.date | date:'dd.MM.yyyy'"></span> &mdash;
    <span class="km" ng-bind="row.km|km:3"></span>
  </div>
  <div class="panel-body" ng-bind="row.description"></div>
</div>
