<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">index</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
            <a href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
      <div ng-if="!nav.profile" class="pull-right">
        <button class="btn google" ng-click="nav.login()"></button>
      </div>
      <div ng-if="nav.profile" class="pull-right">
        <a class="btn btn-primary logout" ui-sref="app.logout">Kirjaudu ulos</a>
      </div>
    </div>

  </div>
</div>
