<div class="container">
  <div
    uib-alert
    ng-repeat="alert in $ctrl.alerts"
    close="$ctrl.closeAlert($index)"
    dismiss-on-timeout="3000"
  >{{alert.msg}}</div>

  <div class="btn-group" uib-dropdown>
    <button ng-if="$ctrl.profile" type="button" class="btn btn-success" ng-click="$ctrl.addRecord()"><i class="glyphicon glyphicon-plus-sign"></i> Kierrosaika</button>
    <button ng-if="$ctrl.profile" type="button" class="btn btn-success" ng-click="$ctrl.addTrack()"><i class="glyphicon glyphicon-plus-sign"></i> Rata</button>
    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
      Vaihda rataa
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="split-button">
      <li role="menuitem" ng-repeat="track in $ctrl.tracks|orderBy:'name'"><a href ng-click="$ctrl.track(track.id)" ng-bind="track.name"></a></li>
    </ul>
  </div>

  <h1>{{$ctrl.currentTrack.name}}</h1>

  <table ng-if="$ctrl.records.length > 0" class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Aika</th>
      <th>Kuski</th>
      <th>Päivämäärä</th>
      <th>Auto</th>
      <th>Luokka</th>
      <th>Kommentti</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="record in $ctrl.records | orderBy:'record' track by record.id">
      <td>{{$index+1}}.</td>
      <td ng-bind="record.record | recordString"></td>
      <td ng-bind="record.driver"></td>
      <td ng-bind="record.date | date"></td>
      <td ng-bind="record.car"></td>
      <td ng-bind="record.level"></td>
      <td ng-bind="record.comment"></td>
    </tr>
    </tbody>
  </table>
  <p ng-if="$ctrl.records.length === 0">Ei tuloksia</p>
</div>

