<div class="container">
<h1>BMW 330 coupe E46</h1>
<h2>Huoltohistoria</h2>
<p>
  BMW vm. 2002 hankittu 30.12.2014.
</p>
<ul>
  <li>23.10.2002 - 18tkm - Öljynvaihto ja mikrosuodin Laakkosella.</li>
  <li>28.11.2003 - 53tkm - Huolto I, mikrosuodin ja korin tarkastaus Laakkosella.</li>
  <li>22.09.2004 - 80tkm - Öljyn, jarrunesteiden ja mikrosuotimen vaihto Laakkosella.</li>
  <li>26.09.2005 - 105tkm - Huolto II ja mikrosuodin Laakkosella.</li>
  <li>19.06.2013 - 227tkm - <i>Katsastus, hyväksytty.</i>.</li>
  <li><i>Puuttuu noin 100 tkm ajalta huoltohistoriaa, myyjän puheiden mukaan öljyt on vaihdettu ajallaan. Tuulilasi, iskarit&jouset ja jarrulevyt&palat taakse vaihdettu pari vuotta sitten (ei kuitteja, mutta tuulilasi on selkeästi vaihdettu). Myyjä oli myös vaihtanut vasemman puoleisen jarrulevyn tärinän takia.</i></li>
  <li>19.06.2013 - 232tkm - Jarrupalojen ja levyjen vaihto eteen, termostaatin vaihto, pakkasneste, kulumisen ilmaisin 1 kpl</li>
  <li>04.06.2014 - 244tkm - <i>Katsastus, hyväksytty.</i>.</li>
  <li>10.09.2014 - 247 933 km - Vaihdettu akku 70 Ah, laturi tuulettimen ja laturin hihna Laakkosella</li>
  <li>22.10.2014 - 248 450 km - Öljynvaihto, Castrol Magnatec 5W-40.</li>
  <li>23.01.2015 - 254tkm - Tuulilasin pyyhkijät uusittu</li>
  <li>30.04.2015 - 255tkm - Vaihdettu uudet kesärenkaat ja alumiinivanteet</li>
  <li>03.05.2015 - 256tkm - Keskimmäinen pakoputken kiinnike ruostunut irti. Aiheuttaa resonoivaa ääntä.</li>
  <li>08.06.2014 - 257 309 km - Katsastettu. Huomatuksina koiranluut ja pakoputken keskimmäinen kiinnitys.</li>
  <li>19.06.2015 - 258tkm - Keskimmäinen pakoputken kiinnike uusittu. <hoverimage description="Uusi koiranluu" path="bmw/koiranluu2.png" alt-text="Uusi koiranluu">Koiranluut</hoverimage> vaihdettu.
    <hoverimage description="Erittäin väljä koiranluu" path="bmw/koiranluu1.png" alt-text="Vanha koiranluu">Vanhat</hoverimage> olivat täysin väljät oikealla puolella.</li>
  <li>21.07.2015 - 258tkm - Kyljestä ja takakaarista ruosteita korjattu. 2K epoksi pohjalla.</li>
  <li>12.08.2015 - 259tkm - Takaluukun/takapuskurin alta ruosteita hiekkapuhallettu ja maalattu. 2K epoksi, pakkelia, pohjamaalia ja spraymaali.</li>
  <li>11.11.2015 - 260tkm - Tuulilasin pissapojan moottori lopetti toimintansa.</li>
  <li>11.11.2015 - 260tkm - </li>
</ul>
</div>
