
<div class="container">

  <h1>Ford Escort 1.6 16V STW</h1>
  <h2>Huoltohistoria</h2>
  <p>
    Farmari on vuosimallia 2000, eli viimeinen tämän mallinen Escort. Sain auton kaverilta edullisesti, koska se ei ollut mennyt katsastuksesta läpi ruosteen, jarrujen ja alapallonivelen takia.<br>
    Hanskalokerossa on kuitteja vuodelta 2002 lähtien, eli todennäköisesti ainakin suurin osa. Tätä kirjoittaessa 07.08.2014 mittarissa on 252tkm.
  </p>
  <ul>
    <li>22.04.2002 - 32tkm - Vuosihuollossa öljyt, suodatin ja H4 ajovalo vaihdettu. Valojen suuntaus.</li>
    <li>17.01.2003 - 45tkm - Kuntohuollossa vaihdettu laturin hihna, öljyt, suodatin, rasvakuppi ja ilmansuodatin. Myös radio vaihdettu sisäisen vian takia.</li>
    <li>26.09.2003 - 61tkm - Vuosihuollossa vaihdettu öljyt, suodatin, sytytystulpat ja pyyhkimen sulka takaa.</li>
    <li>22.07.2004 - 77tkm - Vuosihuollossa vaihdettu öljyt, suodatin, <b>vasen alatukivarsi</b> ja yksi tukivarren pultti.</li>
    <li>12.04.2005 - 92tkm - Uusittu laturin hihna</li>
    <li>17.06.2005 - 96tkm - Vuosihuollossa vaihdettu jarrunesteet, sytytystulpat, vasen sumuvalon H3 polttimo, öljyt ja suodatin.</li>
    <li>27.02.2006 - 113tkm - Vuosihuollossa vaihdettu ilmansuodatin, öljyt, suodatin, <b>vesipumppu ja jakohihna.</b></li>
    <li>26.02.2007 - 136tkm - Vuosihuollossa vaihdettu ilmansuodatin, polttoainesuodin, sytytystulpat, edestä jarrupalat ja jarrulevyt, kierrejouset(etu/taka?), öljyt ja suodatin.</li>
    <li>03.04.2008 - 150tkm - Vuosihuollossa vaihdettu <b>1kpl etupyörän laakeri</b>, jarrunesteet, ilmansuodin, öljyt ja suodatin.</li>
    <li>09.09.2008 - Vaihdettu ikkunamekanismi.</li>
    <li>25.03.2011 - Vaihdettu oikea vetonivel.</li>
    <li>13.02.2012 - Vaihdettu lohkolämmittimen lämpövastus.</li>
    <li>27.08.2012 - Vaihdettu oikea ja ilmeisesti vasen raidetangon pää, 2kpl etuvakaajan tappia, jarrukenkäsarja ja 2kpl jarrusylintereitä.</li>
    <li>15.08.2013 - Vaihdettu uudet kesärenkaat Nokian 175/65 R 14 Nordman SX 82 T..</li>
    <li>29.08.2013 - Vaihdettu vasen etunivelen kumi, vasen etutukivarren hela ja kaksi polttimoa. Valojen suuntaus.</li>
    <li>10.01.2014 - 241tkm - Vaihdettu vesipumppu, jäähdytinnesteet ja jakopäänhihna.</li>
    <li>20.03.2014 - Vaihdettu alavesiletku ja tarkastettu kannentiiviste.</li>
    <li>20.08.2014 - 252tkm - Vaihdettu oikea alatukivarsi, helat ja alapallonivel. Irroitettu kiinni ruostunut takajarrunsäädin. Paikattu vararenkaan kotelon ja takapuskurin välinen palkki. Uudet renkaat 195/50 15".</li>
    <li>25.08.2014 - 253tkm - Katsastettu.</li>
    <li>20.09.2014 - 253tkm - <a href="ford_escort_vakaajan_kumit.html">Vaihdettu vakaajantangon kumihelat.</a></li>
    <li>26.10.2014 - 253tkm - Myyty pois</li>
  </ul>
</div>