
<div class="container">
  <h2>Bosch takajarruhuolto</h2>
  <h3>Palojen ja männän suojakumin vaihto</h3>
  <ul>
   <li>kässärin vaijeri irti pihtien avulla, sokka myös niin lähtee koko paska
   <li>lukkopihdeillä jarruletku tukkoon</li>
   <li>jarruletku irti</li>
   <li>13mm pultti auki satulasta, niin satulan saa pyöräytettyy kokonaan irti</li>
   <li>satulan mäntää pyöritetään kunnes se lähtee irti</li>
   <li>tasapääruuvarilla vanha kumi alakautta kantaten pois</li>
   <li>koko paskan puhdistus</li>
   <li>pyöritä mäntä takas paikalleen niin alas kun menee
   <li>naputa jollain uusi suojakumi paikalleen, vittumainen, jos löytyisi rei'än kokoinen
holkki millä sais paikalle sen nätisti, niin bueno. Taltalla ja ruuvarilla sen kumin saa vain paskaksi.</li>

   <li>motonetin palat eivät käyneet paikalleen, joutui vähnä rälläkkää näyttämään</li>
   <li>muista jättää mäntä oikeaan asentoon, että taaemmassa palassa oleva tappi osuu männässä olevaan syvänteeseen. Männän toisen pään holkin kohdalla satulassa on merkki, se mäntä pitää mennä siitä merkistä hiukan yli, että menee paikalleen.</li>

   <li>sitte paskat kiinni, ilmaus ja kovaa ajoa.</li>
  </ul>
</div>