<div class="container">

  <h1>Opel Astra G 1.8i 16v Sport</h1>
  <h2>Huoltohistoria</h2>
  <p>
    Opelin huoltohistoria syksyltä 2007 lähtien. Ajoneuvossa oli 105 tkm mittarissa hankintapäivänä ja vuosimalli 2001.
    Lähivalojen polttimoita autosta palaa suurinpiirtein kerran vuodessa. Muita polttimoja ei olekkaan tarvinnut vaihtaa koskaan.
  </p>
  <ul>
    <li>119tkm - Vaihdettu jakopään hihna, vesimpumppu ja öljyt.</li>
    <li>125tkm - Korjattu laahavat takajarrut. Käsijarru hirtti. Jarrumännät ja käsijarruvipu herkistelty. Myös palat vaihdettu.</li>
    <li>130tkm - Vaihdettu takajouset ja öljyt.</li>
    <li>152tkm - Vaihdettu öljyt ja öljynsuodatin.</li>
    <li>155tkm - Vaihdettu pakoputkesta takapönttö ja väliputki.</li>
    <li>155tkm - Vaihdettu jarrulevyt edestä ja takaa. Samalla palat vaihdettu.</li>
    <li>162tkm - Vaihdettu vakaajan päät eli "koiranluut", pakoputkesta etuputki ja Lambda-anturi.</li>
    <li>163tkm - Vaihdettu raidetangon ulompi nivel oikealta.</li>
    <li>165tkm - Vaihdettu <a ui-sref="opel.takasatula">takajarrupalat</a> ja oikean puolen satulan suojakumit.</li>
    <li>169tkm - Kesä 2014  Vaihdettu sytytystulpat</li>
    <li>177tkm - 21.08.2015 Vaihdettu Öljyt ja öljynsuodin</li>
  </ul>
  <div ui-view></div>
</div>
<!--
      <h2>Polttoainelaskuri</h2>
        <div>Matkan hinta: <span style="font-weight: bold" id="hinta">180.18 €</span></div>
        <label for="litrahinta">Litrahinta [€/l]</label><input id="litrahinta" type="text" maxlength="4" value="1.68">
        <label for="matka">Matka [km]</label><input id="matka" type="text" maxlength="10" value="1650">
        <label for="kulutus">Kulutus [l/100km]</label><input id="kulutus" type="text" maxlength="10" value="6.5">
      <script type="text/javascript">
          $('input[type=text]').change(function() {
            console.log('change');
            var litrahinta = parseFloat($('#litrahinta').val());
            var matka = parseFloat($('#matka').val());
            var kulutus = parseFloat($('#kulutus').val());
            if (litrahinta >= 0 && matka >= 0 && kulutus >= 0)
                $('#hinta').html(
                    Math.round(
                        matka/100*kulutus*litrahinta
                    *100)/100 + ' €');
          });
      </script>
-->

