<div class="container">
  <h1>Yamaha FZ6-N S2 -08</h1>
  <p>Hankittu syksyllä 2012. Mittarissa ostohetkellä 17 000km.</p>
  <ul>
    <li>Syys 2012 - 18 500 km - Vaihdettu öljyt 10W40 Motul 5100 ja öljynsuodatin</li>
    <li>03.05.2015 - 24 400 km - Vaihdettu öljyt 10W40 Shell Ultra Advance</li>
    <li>08.05.2015 - 24 550 km - TAIL sulake 10A uusittu ja takavilkkujen sähköjen liitoksia paranneltu</li>
    <li>09.05.2015 - 24 550 km - Sytytystulpat, ilmansuodin ja jäähdytysnesteet vaihdettu</li>
  </ul>
</div>