<h2>Kuvat</h2>
<p ng-if="!$ctrl.images"><i>Ei tallennettuja kuvia</i></p>
<div class="karuselli" ng-if="$ctrl.images.length > 0" style="height: 306px">
  <div uib-carousel active="0"  interval="0" no-wrap="true" no-transition="false">
    <div uib-slide ng-repeat="image in $ctrl.images track by image.url" ng-if="image.url" index="$index">
      <img ng-src="{{image.url}}" style="margin:auto;max-height:600px;">
      <div class="carousel-caption">
        <h4>Kuva {{$index+1}}</h4>
        <p>{{image.filename}}</p>
      </div>
    </div>
  </div>
</div>
