<div class="container">
  <div
    uib-alert
    ng-repeat="alert in $ctrl.alerts"
    close="$ctrl.closeAlert($index)"
    dismiss-on-timeout="3000"
  >{{alert.msg}}</div>

  <h1>Tulokset {{$ctrl.currentTrack.name}}</h1>
  <div class="controls">
    <a href class="btn btn-default" ng-click="$ctrl.add()">Lisää tulos</a>
  </div>

  <table ng-if="$ctrl.records.length > 0" class="table">
    <thead>
    <tr>
      <th>Aika</th>
      <th>Kuski</th>
      <th>Päivämäärä</th>
      <th>Auto</th>
      <th>Luokka</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="record in $ctrl.records track by record.id">
      <td ng-bind="record.record | recordString"></td>
      <td ng-bind="record.driver"></td>
      <td ng-bind="record.date | date"></td>
      <td ng-bind="record.car"></td>
      <td ng-bind="record.level"></td>
    </tr>
    </tbody>
  </table>
  <p ng-if="$ctrl.records.length === 0">Ei tuloksia</p>
</div>

