<div class="container asunto">
  <h1>Kaarikuja 4 (1h+kk 31,5m²)</h1>
  <h2>Hyväkuntoinen yksiö Kontulassa</h2>
  <p>
    Lattiat laminaattia. Rauhallinen sijainti, ylin kerros hissitalossa.
    Kontulan palvelut kävelyetäisyydellä ja metroasemalle alle 1 km.
    Ilmainen parkkipaikka ja lukittu autokatos.
    <br>Lisätiedot ja esittelyt: Joonas Kallio <a href="tel://+358442703005">puh. 044 270 3005</a></p>
  <table class="table table-striped">
  <tr>
    <th>Sijainti</th>
    <td><a target="_blank" href="https://goo.gl/maps/Jv31VQx8pr22">Kaarikuja 4, 00940 Helsinki</a> </td>
  </tr>
  <tr>
    <th>Kerros</th>
    <td>8 / 8</td>
  </tr>
  <tr>
    <th>Kaupunginosa</th>
    <td>Kontula</td>
  </tr>
  <tr>
    <th>Asuinpinta-ala</th>
    <td>31,5 m²</td>
  </tr>
  <tr>
    <th>Kuvaus</th>
    <td>1h+kk</td>
  </tr>
  <tr>
    <th>Huoneita</th>
    <td>1</td>
  </tr>
  <tr>
    <th>Kunto</th>
    <td>Hyvä</td>
  </tr>
  <tr>
    <th>Vapautuminen</th>
    <td>Helmikuu 28. 2015</td>
  </tr>
  <tr>
    <th>Keittiön varusteet</th>
    <td>Kuvaus: V.2011 remontoitu olohuone ja keittiö. Remontissa uudet kaapistot ja kodinkoneet. Liesi, Työtasot: laminaatti.
      Kylmäsäilytys: jääkaappipakastin. Varustus: liesikupu.</td>
  </tr>
  <tr>
    <th>Internet</th>
    <td>Vuokraan sisältyy 10 Mbit/s internet-yhteys</td>
  </tr>
  <tr>
    <th>Parveke</th>
    <td>Ei</td>
  </tr>
  <tr>
    <th>Kylpyhuoneen varusteet</th>
    <td>Varustus: pesukoneliitäntä, wc, suihku, peili js kylpyamme.</td>
  </tr>
  <tr>
    <th>Säilytystilat</th>
    <td>Kuvaus: Eteisessä kaapisto. kellarikomero, kylmäkomero, pyörävarasto</td>
  </tr>
  <tr>
    <th>Pintamateriaalit</th>
    <td>Lattia: Keittiössä: laminaatti. Pesutiloissa: muovimatto. Olohuoneessa: laminaatti.</td>
  </tr>
  <tr>
    <th>Näkymät</th>
    <td>Ikkunat länteenpäin ja hyvät näkymät</td>
  </tr>
  <tr>
    <th>Tehdyt remontit</th>
    <td>ikkunat uusittu 2008-2009, pintaremontoitu 2011</td>
  </tr>
  <tr>
    <th>Sauna</th>
    <td>Taloyhtiön yleinen sauna</td>
  </tr>
  <tr>
    <th>Asumistyyppi</th>
    <td>Vuokra</td>
  </tr>
  <tr>
    <th>Palvelut</th>
    <td>Lisätietoa palveluista: Kaikki Kontulan peruspalvelut kävelyetäisyydellä.</td>
  </tr>
  <tr>
    <th>Muut kustannukset</th>
    <td>Sähkölämmitteinen autopaikka katoksessa: 15,00 €/kk, Sähkölämmitteinen autopaikka kannella: 8,00 €/kk, Sauna 10,00 €/kk</td>
  </tr>
  </table>

  <div uib-carousel active="active" interval="myInterval" no-transition="true">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto;max-height:600px;">
      <div class="carousel-caption">
        <h4>Kuva {{$index+1}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </div>
  </div>

  <h2>Talon ja tontin tiedot</h2>

  <table class="table table-striped">
  <tr>
    <th>Rakennuksen tyyppi</th>
    <td>Kerrostalo</td>
  </tr>
  <tr>
    <th>Uudiskohde</th>
    <td>Ei</td>
  </tr>
  <tr>
    <th>Taloyhtiön nimi</th>
    <td>Asunto Oy Kaarikuja 4</td>
  </tr>
  <tr>
    <th>Rakennusvuosi</th>
    <td>1969</td>
  </tr>
  <tr>
    <th>Huoneistojen lukumäärä</th>
    <td>168 kpl</td>
  </tr>
  <tr>
    <th>Kiinteistön asuinpinta-ala yhteensä</th>
    <td>10 180 m²</td>
  </tr>
  <tr>
    <th>Yhteiset tilat</th>
    <td>sauna, kuivaushuone, mankeli, jäähdytetty kellari, kellarikomero, urheiluvälinevarasto, askarteluhuone, kaapeli-tv.</td>
  </tr>
  <tr>
    <th>Taloyhtiön sauna</th>
    <td>Kyllä</td>
  </tr>
  <tr>
    <th>Pysäköintitilat</th>
    <td>Sähköpaikkoja autokannella ja katoksessa</td>
  </tr>
  <tr>
    <th>Hissi talossa</th>
    <td>Kyllä</td>
  </tr>
  <tr>
    <th>Rakennusmateriaali</th>
    <td>betoni</td>
  </tr>
  <tr>
    <th>Kattotyyppi</th>
    <td>Tasakatto</td>
  </tr>
  <tr>
    <th>Antennijärjestelmä</th>
    <td>Kaapeli-TV</td>
  </tr>
  <tr>
    <th>Tontin omistus</th>
    <td>Vuokra</td>
  </tr>
  <tr>
    <th>Kiinteistönhoito</th>
    <td>Huoltoyhtiö. Kiinteistönhoidon lisätiedot: Kontulan Huolto Oy</td>
  </tr>
  <tr>
    <th>Isännöinti</th>
    <td>Kontulan Huolto Oy Kontulankaari 1B, 00940 Helsinki Isännöitsijä Jarmo Aaltonen jarmo.aaltonen@kontulanhuolto.fi</td>
  </tr>
  <tr>
    <th>Kaavatiedot</th>
    <td>Lisätiedot Helsingin kaupunki. puh 09 310 1691</td>
  </tr>
  <tr>
    <th>Kaavatilanne</th>
    <td>Asemakaava</td>
  </tr>
  <tr>
  <th>Liikenneyhteydet</th>
  <td>Bussipysäkki noin 200m, metroasemalle alle 1 km</td>
  </tr>
  <tr>
    <th>Lämmitys</th>
    <td>kauko</td>
  </tr>
  </table>
</div>
