/*
.car-logo {
  display: inline-block;
  background: transparent url('/assets/images/car_makes.gif') 0 0;
}

.car-logo.bmw {
  width: 50px;
  height: 50px;
  background-position: -318px 0;
}
.car-logo.opel {
  width: 60px;
  height: 48px;
  background-position: -692px 0;
}
*/
