ul.vehicles {
  list-style-type: none;
  li {
    display: block;
  }
}
ul.vehicles {
  li {
    display: inline-block;
    margin-right: 2em;
    clear:both;
  }
}

.karuselli {
  width: 100%;
  max-height: 600px;
}

.sorting {
  margin: 1.4rem 0;
  width: 100%;
}

.history .panel-heading span.km {
  font-weight: bold;
}
