<div class="container vehicle-list">
  <ul class="vehicles">
    <li ng-repeat="vehicle in vehicles|orderBy:vehicle.mark">
      <vehicle data="vehicle" url="app.vehicle.view({id: data.id})"></vehicle>
    </li>
  </ul>

  <ui-view></ui-view>
</div>
