vehicle {
  .car {
    i {
      display: block;
      margin: 0 auto;
    }
    font-size: 16px;
    div {
      padding-bottom: 8px;
    }
  }

  .car-logo {
    display: inline-block;
    background: transparent url('/assets/images/car_makes.gif') 0 0;
  }

  .car-logo.vehicle {
    width: 57px;
    height: 50px;
    background-position: 57px 50px;
  }

  .car-logo.bmw {
    width: 50px;
    height: 50px;
    background-position: -318px 0;
  }
  .car-logo.opel {
    width: 60px;
    height: 48px;
    background-position: -692px 0;
  }
  .car-logo.peugeot {
    width: 60px;
    height: 48px;
    background-position: -458px 54px;
  }

  .car-logo.mercedes-benz {
    width: 50px;
    height: 50px;
    background-position: -386px 0;
  }
  .car-logo.yamaha {
    background: transparent url('/assets/images/yamaha/logo.png') 0 0;
    width: 50px;
    height: 52px;
  }

  .car-logo.focus {
    background: transparent url('/assets/images/focus/logo.png') 0 0;
    width: 100px;
    height: 22px;
  }

  .car-logo.kona {
    background: transparent url('/assets/images/kona/logo.png') 0 0;
    width: 50px;
    height: 45px;
  }

  .car-logo.suzuki {
    background: transparent url('/assets/images/suzuki.png') 0 0;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
  }

}
