<div class="well">
  <h1 data-ng-model="title">{{title}}</h1>
  <p data-ng-model="text">{{text}}</p>
</div>
<div class="trollface">
  <img
    id="trollface"
    src="images/troll-face.png"
    alt="troll"
    data-ng-hide="hideFace"
    data-ng-class="{show: !hide}"
  >
</div>
