<div class="container">
  <h2>Polttoainelaskuri</h2>

  <form>
    <label>Kulutus [l/100 km]: <input type="number" ng-model="consume" ng-model-options="{debounce: 500}"></label>
    <label>Matka [km]: <input type="number" ng-model="travel" ng-model-options="{debounce: 500}"></label>
    <label>Hinta [€/l]: <input type="number" ng-model="price" step="0.01" ng-model-options="{debounce: 500}"></label>
  </form>

  <pre>
     Hinta:           {{travel/100*consume*price|currency:'€':2}}
     Polttoainemäärä: {{travel/100*consume|number:2}} litraa
     Mailia/Gallona:  {{(100*0.621371)/(consume*0.264172)|currency:'MPG'}}
  </pre>


</div>
