<div class="container">
  <h1>Manager</h1>

  <ul class="vehicles">
    <li ng-repeat="vehicle in vehicles|orderBy:vehicle.mark">
      <vehicle data="vehicle" url="app.manager.edit({id: data.id})"></vehicle>
    </li>
    <li class="add-new">
      <a href ng-click="addVehicle()"><i class="glyphicon glyphicon-plus-sign"></i> New</a>
    </li>
  </ul>
  <ui-view></ui-view>
</div>
