<pre ng-if="$ctrl.error">{{$ctrl.error|json}}</pre>
<div ng-if="$ctrl.vehicle" class="vehicle-list" id="top">
  <h1>{{$ctrl.vehicle.make}} {{$ctrl.vehicle.model}}</h1>
  <uib-tabset active="active">
    <uib-tab index="0" heading="Kuvat">
      <vehicle-view-images images="$ctrl.vehicle.image"></vehicle-view-images>
    </uib-tab>
    <uib-tab index="1" heading="Huollot">
      <vehicle-view-service vehicle="$ctrl.vehicle"></vehicle-view-service>
    </uib-tab>
    <uib-tab index="2" heading="Tiedot">
      <vehicle-view-description vehicle="$ctrl.vehicle"></vehicle-view-description>
    </uib-tab>
  </uib-tabset>
</div>
